.imgpage{
    text-align: center;
    justify-content: center;
  }

.image{
    display:flex;
    text-align: center;
  
    justify-content: center;
  }

  .draggable {
    position: absolute;
    cursor: grab;
    user-select: none;
    }

  .navBar{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18pt;
    padding: 5px;
    color: white;
    
  }
  
  .navBarItem:hover{
    color: #FDE500;
    text-decoration-color: #FDE500;
    cursor: pointer;
    transition: ease-in-out 0.3s
  }

  .navBarItem{
    padding: 10px;
    text-decoration: underline;
    text-decoration-color: white;

  }

  .rishaan_photo{
    width: 85vmin;
  }
  .aboutInfoSpace{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    max-width: 100vw;
    flex-wrap: wrap;
  }
  .aboutInfoPic{
    padding-left: 20px;
  }
  .aboutInfoText{
    width: 70vmin;
    padding: 20px;
    font-size: 3.5vmin;
  }
  .button{
    padding-inline: 50px;
  }
  .buttonRow{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttonsSpace{
    width:70vmin;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .buttonText{
    font-size: 12pt;

  }
  