.Main{
  width: 99vw;
}
  .ECCard{
    margin-bottom: 10vmin;
    margin-left: 10vmin;
    margin-right: 10vmin;
    transition: 0.3s ease-in-out;
  }

  .ECCard:hover{
    cursor: pointer;
    opacity: 80%;
  }

  .eclink{
    text-decoration: none;
  }

  .cardText{
    font-size: 12pt;
    text-wrap: wrap;
    max-width: 480px;
    font-weight: 400;
    text-align: center;
    }

.cardimage{
    height: 42vmin;
  }
  .ECCardSpace{
    height: 100%;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }

  .ECintroText{
    width: 80vw;
  }
  .ECIntro{
    display: flex;
    justify-content: center;
  }