.Main{
    height: 102vh;
    width: 100vw;
  }

.imgpage{
    text-align: center;
    justify-content: center;
  }

.image{
    display:flex;
    text-align: center;
  
    justify-content: center;
  }

  .draggable {
    position: absolute;
    cursor: grab;
    user-select: none;
    }

  .navBar{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20pt;
    padding: 5px;
    color: white;
    text-decoration: underline;
  }
  
  .navBarItem:hover{
    color: #FDE500;
    cursor: pointer;
    transition: ease-in-out 0.3s
  }

  .navBarItem{
    padding: 10px;
  }