.FrontPage{
    background-image: url("room.png");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover 100vh;
    margin: 0; height: 100%; overflow: hidden;
    width: 100%;
}

.gradient{

    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%,rgba(0, 0, 0, 0.7) 30%, rgba(0,47,75,0) 100%); /* W3C */

}

.HeaderBox{
    display:flex;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
  }

  @keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(200px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }

.Logo{
    padding-left: 50px;
    padding-left: 50px;
    letter-spacing: -3px;
    text-align: center;
    line-height: 90%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15vmin;
    color: #FDE400;
    filter: drop-shadow(5px 5px 5px black);

}

.centertext{
    animation: fadeInRight ease-in-out 1s ;
    transition: 0.3s

}

.centertext:hover{
    color: #c52026;
    cursor: pointer;

}

.innertwotext{
    color: #c52026;
    animation: fadeInRight ease-in-out 0.8s;
}

.outertwotext{
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #c52026;
    animation: fadeInRight ease-in-out 0.7s;
}

.outeroutertwotext{
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #c52026;
    animation: fadeInRight ease-in-out 0.6s;

}

.welcome{
    padding-right: 50px;
    font-size: 42pt;
    color: #FDE400;
    line-height: 0.9;
    letter-spacing: -2px;
    animation: fadeInLeft ease-in-out 1s ;
}

.text{
    transition: 0.3s;
    filter: drop-shadow(5px 5px 5px black);

}
.text:hover{
    color: #c52026;
    cursor: pointer;

 }

@keyframes fadeInLeft{
    0% {
        transform: translateX(-200px);
       opacity: 0;

    }
    100% {
        transform: translateX(0px);
       opacity: 1;

    }
 }
@keyframes fadeIn{
    0% {
       opacity: 0;

    }
    100% {
       opacity: 1;

    }
 }

 .buttonspace{
    transition: 0.6s;
    animation: fadeIn ease-in-out 3s ;
    filter: drop-shadow(5px 5px 5px black);

 }

  .buttonspace:hover {
    transform: rotate(25deg);
    transition: all 0.25s loop;
    cursor: pointer;
  }

