.Main{
  width: 99vw;
}

  .skillsCardSpace{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 99vw;
  }

  .cardimage{
    height: 42vmin;
    
  }

  .skillsCardText{
    font-size: 16pt;
    text-wrap: wrap;
    text-align: left;
    display: flex;
    justify-content: space-around;

    }

  .skillsCard{
    margin-bottom: 10vmin;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 350px;
  }

  .dsList{
    list-style-type:'▶️ ';
    list-style-position: inside;
    padding-right: 35px;

  }

  li{
    padding-bottom:10px;

  }

  .skillscardimage{
    height: 25vmin;
  }
