
.Footer{

    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color: white;
    font-weight: 100;
    background-color: black;
    
  }
  
  .FooterBox{
    width: 100vw;
    text-align: center;
  }
  
  .FooterElements{
    padding: 10px;
    text-align: center;
  
  }
  .Copyright{
    padding: 10px;
  }
  .imglogo{
    width: 25px;
    height: 25px;
    padding: 2px;
    transition: 0.3s;

  }
  .imglogo:hover{
    filter: brightness(1.25);
    }

  .TinyLinks{
    padding: 5px;
  }
  .mail{
    color: white; 
    text-decoration: none;
    
  }
  .mail:hover {
    text-decoration: underline;
  }
  .mailtext{
    font-weight: 400;
  }
    .navBar{
    font-weight: 800;
  }
  
  .navBarItem:hover{
    color: #FDE500;
    text-decoration-color: #FDE500;
    cursor: pointer;
    transition: ease-in-out 0.3s
  }

  .navBarItem{
    padding: 10px;
    text-decoration: underline;
    text-decoration-color: white;

  }
  